/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3668d4;
  --ifm-color-primary-dark: #477cef;
  --ifm-color-primary-darker: #354ede;
  --ifm-color-primary-darkest: #141482;
  --ifm-color-primary-light: #4040ff;
  --ifm-color-primary-lighter: #4f4fff;
  --ifm-color-primary-lightest: #6161ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Noto Sans CJK SC", "Noto Sans SC", "Noto Sans", "思源黑体 SC", "思源黑体", "PingFang SC",
                          "Microsoft YaHei", "Heiti SC", "WenQuanYi Micro Hei",
                          "Helvetica Neue", Arial, sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*dark反而要亮一点，因为是对标亮色主题而言的。*/
[data-theme='dark'] {
  --ifm-color-primary: rgb(151, 183, 248);
  --ifm-color-primary-dark: #89a1e9;
  --ifm-color-primary-darker: #a2b7e0;
  --ifm-color-primary-darkest: #cdd1fc;
  --ifm-color-primary-light: #6e95f8;
  --ifm-color-primary-lighter: #657cfb;
  --ifm-color-primary-lightest: #5959f7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* inline code（行内代码）*/
.markdown code,
.docMarkdown code,
p code,
li code {
  font-family: "Fira Code", "JetBrains Mono", "Cascadia Code", "Consolas", "SF Mono",
   "Monaco", "Source Code Pro", "Roboto Mono", "Inconsolata", "DejaVu Sans Mono",
    var(--ifm-font-family-base), monospace
}

em {
    font-style: normal;
    text-decoration: underline dotted 2.5px ;
    text-decoration-color: var(--ifm-color-primary);
    text-underline-offset: 4px;
}

strong {
  color: var(--ifm-color-primary-darker)
}

#cusdis_thread {
display: flex;
height: 40ex;
}

body{
  text-autospace: normal;
  text-spacing: ideograph-alpha ideograph-numeric;
}
